## Pandas

In [ ]:
!pip install pandas

Series

In [ ]:
import pandas as pd
fruits = ["蘋果", "橘子", "梨子", "櫻桃"]
s1 = pd.Series(fruits)
print(type(s1))
print(s1)
print(s1.index)
print(s1.values)

In [ ]:
quantities = [15, 33, 45, 55]
s2 = pd.Series(quantities, index=fruits)
print(type(s2))
print(s2)
print(s2.index)
print(s2.values)

In [ ]:
s3 = pd.Series(quantities)
s3.index = fruits
print(s3)

In [ ]:
dict4 = {"蘋果":15, "橘子":33, "梨子":45, "櫻桃":55}
s4 = pd.Series(dict4)
print(type(s4))
print(s4)
print(s4.index)
print(s4.values)

Series 運算

In [ ]:
print(s1.count())
print(s2.sum())
print(s2.mean())
print(s2.median())
print(s2.min())
print(s2.max())

In [ ]:
print(s3.describe())
print(s3.var())
print(s3.std())
print(s4.apply(lambda x:x**2))

DataFrame

In [ ]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Stella', 'Ricky'],'Age':[28,34,29,42],'Gender':['M','M','F','M']}
df1 = pd.DataFrame(data)
print(df1)
df2 = pd.DataFrame(data, index=['emp1','emp2','emp3','emp4'])
print(df2)
df3 = pd.DataFrame(data, index=range(1,5))
print(df3)
df4 = pd.DataFrame(data, index=range(1,5), columns=['Name', 'Gender'])
print(df4)

In [ ]:
data2 = [{'Name':'Tom', 'Age': 28, 'Gender':'M'},
         {'Name':'Jack', 'Age': 34, 'Gender':'M'},
         {'Name':'Stella', 'Age': 29, 'Gender':'F'},
         {'Name':'Ricky', 'Age': 42, 'Gender':'M'}]
df1 = pd.DataFrame(data2, index=['001', '002', '003','004'])
print(df1)
df2 = pd.DataFrame(data2, index=range(1,5), columns=['Age', 'Gender'])
print(df2)

In [ ]:
data3 = [['Tom', 28, 'M'],['Jack', 34, 'M'],['Stella', 29, 'F'],['Ricky', 42, 'M']]
df1 = pd.DataFrame(data3)
print(df1)
df2 = pd.DataFrame(data3, index=range(1,5), columns=['Name','Age', 'Gender'])
print(df2)

In [ ]:
import numpy as np
data4 = np.array([['Tom', 28, 'M'],
                  ['Jack', 34, 'M'],
                  ['Stella', 29, 'F'],
                  ['Ricky', 42, 'M']])
df1 = pd.DataFrame(data4)
print(df1)
df2 = pd.DataFrame(data4, index=range(1,5), columns=('Name', 'Age', 'Gender'))
print(df2)

In [ ]:
data5 = {'Name' : pd.Series(['Tom', 'Jack', 'Stella', 'Ricky']),
         'Age' : pd.Series([28,34,29,42]),
         'Gender' : pd.Series(['M', 'M', 'F', 'M'])}
df1 = pd.DataFrame(data5)
print(df1)
data6 = [pd.Series(['Tom', 28, 'M'],   index=('Name', 'Age', 'Gender')),
         pd.Series(['Jack', 34, 'M'],  index=('Name', 'Age', 'Gender')),
         pd.Series(['Stella', 29, 'F'],index=('Name', 'Age', 'Gender')),
         pd.Series(['Ricky', 42, 'M'], index=('Name', 'Age', 'Gender'))]
df2 = pd.DataFrame(data6)
print(df2)

Pandas資料輸出

In [3]:
data = [{"country":"Brazil","population":200, "area":8515767, "capital":"Brasilia"},
        {"country":"Russia","population":144, "area":17098242, "capital":"Moscow"},
        {"country":"India","population":1252, "area":3287590, "capital":"New Delhi"},
        {"country":"China","population":1357, "area":9596961, "capital":"Beijing"},
        {"country":"South Africa","population":55, "area":1221037, "capital":"Pretoria"}]
df = pd.DataFrame(data, index=['BR','RU','IN','CH','SA'])
print(df)
df.to_html("brics.html")
df.to_csv("brics.csv")
df.to_csv("brics2.csv", header=False)
df.to_json("brics.json")

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [4]:
data = {"name": ["中正區", "板橋區", "桃園區", "北屯區", "安南區", "三民區", "大安區", "永和區", "八德區", "前鎮區", "鳳山區", "信義區", "新店區"],
        "population": [159598, 551452, 441287, 275207, 192327, 343203, 309835, 222531, 198473, 189623, 359125, 225561, 302070],
        "city": ["台北市", "新北市", "桃園市", "台中市", "台南市", "高雄市", "台北市", "新北市", "桃園市", "高雄市", "高雄市", "台北市", "新北市"]}
rows = ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eigth", "ninth", "tenth", "eleventh", "twelvth", "thirteenth"]
df = pd.DataFrame(data, index=rows)
print(df)
df.to_html("area.html")
df.to_csv("area.csv")
df.to_json("area.json", force_ascii=False)

           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市

資料匯入

In [5]:
import pandas as pd
brics = pd.read_csv('brics.csv')
print(brics)
brics = pd.read_csv('brics.csv', header=0, index_col=0)
print(brics)

  Unnamed: 0       country  population      area    capital
0         BR        Brazil         200   8515767   Brasilia
1         RU        Russia         144  17098242     Moscow
2         IN         India        1252   3287590  New Delhi
3         CH         China        1357   9596961    Beijing
4         SA  South Africa          55   1221037   Pretoria
         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [6]:
df1 = pd.read_csv("brics2.csv")
print(df1)
cols=['code','country','population','area','capital']
df2 = pd.read_csv("brics2.csv", header=None, names=cols)
print(df2)
cols2=['country','population','area','capital']
df3 = pd.read_csv("brics2.csv", names=cols2, index_col=0)
print(df3)

   BR        Brazil   200   8515767   Brasilia
0  RU        Russia   144  17098242     Moscow
1  IN         India  1252   3287590  New Delhi
2  CH         China  1357   9596961    Beijing
3  SA  South Africa    55   1221037   Pretoria
  code       country  population      area    capital
0   BR        Brazil         200   8515767   Brasilia
1   RU        Russia         144  17098242     Moscow
2   IN         India        1252   3287590  New Delhi
3   CH         China        1357   9596961    Beijing
4   SA  South Africa          55   1221037   Pretoria
         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [7]:
area = pd.read_csv('area.csv')
print(area)
area = pd.read_csv('area.csv', header=0, index_col=0)
print(area)

    Unnamed: 0 name  population city
0        first  中正區      159598  台北市
1       second  板橋區      551452  新北市
2        third  桃園區      441287  桃園市
3       fourth  北屯區      275207  台中市
4        fifth  安南區      192327  台南市
5        sixth  三民區      343203  高雄市
6      seventh  大安區      309835  台北市
7        eigth  永和區      222531  新北市
8        ninth  八德區      198473  桃園市
9        tenth  前鎮區      189623  高雄市
10    eleventh  鳳山區      359125  高雄市
11     twelvth  信義區      225561  台北市
12  thirteenth  新店區      302070  新北市
           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市

In [8]:
df1 = pd.read_json("brics.json")  
print(df1)
df2 = pd.read_json('area.json', encoding='cp950')
print(df2)

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria
           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市

In [12]:
import pandas as pd
df1 = pd.read_html("brics.html")  
print(df1)
df2 = pd.read_html('area.html', encoding='utf-8')
print(df2)

[  Unnamed: 0       country  population      area    capital
0         BR        Brazil         200   8515767   Brasilia
1         RU        Russia         144  17098242     Moscow
2         IN         India        1252   3287590  New Delhi
3         CH         China        1357   9596961    Beijing
4         SA  South Africa          55   1221037   Pretoria]
[    Unnamed: 0 name  population city
0        first  中正區      159598  台北市
1       second  板橋區      551452  新北市
2        third  桃園區      441287  桃園市
3       fourth  北屯區      275207  台中市
4        fifth  安南區      192327  台南市
5        sixth  三民區      343203  高雄市
6      seventh  大安區      309835  台北市
7        eigth  永和區      222531  新北市
8        ninth  八德區      198473  桃園市
9        tenth  前鎮區      189623  高雄市
10    eleventh  鳳山區      359125  高雄市
11     twelvth  信義區      225561  台北市
12  thirteenth  新店區      302070  新北市]

讀取欄位與列

In [ ]:
print(brics.area)
print(brics['population'])

In [ ]:
print(brics.loc['BR'])

In [ ]:
print(brics['population'].loc['CH'])
print(brics['capital']['SA'])
print(brics.loc['CH']['population'])
print(brics.loc['SA', 'capital'])

In [ ]:
#print(area['name'])
#print(area['city','name'])
print(area[['city','name']])

In [ ]:
#print(area.loc['seventh'])
print(area[0:6])
print(area['seventh':'tenth'])

In [ ]:
print(area[0:13:2][['city','name']])
print(area['fifth':'ninth'][['city','population',]])

In [ ]:
print(area.loc['first', 'name'])
print(area.loc[['first','second','third'], ['name', 'city']])
print(area.loc['third':'ninth','name':'city'])
print(area.loc['third':'ninth',['name', 'city']])
#print(area.loc[4:9:2, 0:2])

In [ ]:
print(area.iloc[4:9:2, 0:2])
print(area.ix[4:9:2, 'name':'city'])

部分N列資料

In [ ]:
ufo= pd.read_csv('http://bit.ly/uforeports')
print(ufo.head(10))
print()
print(ufo.tail())
print()
print(ufo.sample(15))
print()
print(ufo.iloc[0:500:10].sample(frac=0.1))

In [ ]:
print(area.nlargest(3, 'population'))
print(area.nsmallest(3, 'population'))
#print(area)

In [ ]:
print(brics['area'].min())
print(brics['population'].max())

關係運算取子集合

In [ ]:
print(brics[brics['area']==brics['area'].max()])
print(brics[brics['population']==brics['population'].min()])

新增欄位

In [ ]:
print(brics)
brics['on_earth'] = [False,False,False,False,False]
print(brics)

In [ ]:
brics['density'] = brics['population']*1000000/brics['area']
print(brics)

刪除欄位

In [ ]:
density = brics.pop('density')
print(density)
print(brics)

In [ ]:
del brics['on_earth']
print(brics)

新增列資料

In [ ]:
TW = pd.DataFrame([{"country":"Taiwan", "population":23, "area":36500, "capital":"Taipei"}], index=['TW'])
print(brics.append(TW, sort=True))
print(brics)

In [ ]:
print(pd.concat([brics, TW],axis=0, sort=False))
print(brics)

刪除列資料

In [ ]:
print(brics.drop('SA'))
print(brics)
print(brics.drop('capital', axis=1))
print(brics)